
.menu {
    background-color: black!important;
}

.item-menu {
    color: white!important;
}


.box-pacote {
    width: 250px;
    height: 451px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: rgba(250, 250, 250, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo-pacote {
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;;
    
}
.lead{
    text-align: center;
    font-size: xx-large;
    color: black;
    font-weight:bold;
    
}
.img{
    width: 250px!important;
    height: 150px!important;
    border-radius: 10px 10px  0px  0px;
     
     
}
.pacote_cidade{
    text-align: center;
}

.btn-cadastro {
    width: 100%;
}

.btn-menu{
    background-color: #58C3FF;
    width: 184px;
    height: 34px;
    color:white;
    border-radius: 5px;

}

               
.titulo-cadastro{
    font-size: 40px;
    text-align: center;

}

.box-formulario{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 485px;
    height: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #50e8ff;
    
     
}

.img-cadastro{
    width: 1762px;
    margin-top: -100px;
    z-index: -1;

}


#cidadedestino{
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

label {
    display: block;
    margin-bottom: 3px;
    
}
  
input {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    border: 1px #ddd solid;
    
}

.imagem-Home { 
     
    width: 100%;
    z-index: -1;
    
}


.img-modal {
    display: none;
}